*{padding:0;
margin:0;
box-sizing:border-box;
font-family:'poppins', sans-serif;
text-decoration: none;
list-style:none;
scroll-behavior: smooth;
}

html{
    scroll-behavior: smooth;
}


.back-to-top {
    color : black;
    font-size:clamp(0.7rem, 1vw, 1.2rem);
    display: flex;
    justify-content: center;
    padding:0.5%;
}

.back-to-top:hover {
    color: red;
    padding: 0.5%;
    transition: all 0.3s ease;
}
/* Home page */


.banner{
    width: 100%;
    height: auto;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}
.banner video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    pointer-events: none;;
}

.content{
    position: relative;
    z-index: 1;
    width: 100%;
    height:100vh;
    background-image: linear-gradient(rgba(1, 0, 5, 0.3), rgba(4, 1, 17, 0.3));
}


nav{
    position: fixed;
    width: 100%;
    height: clamp(2.8rem, 5vw, 3.8rem);
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(21, 74, 74);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 15%);
}

nav .logo{
    width: clamp(2.5rem, 6vw, 3.8rem);
    height:auto;
    margin-left: 2%;
    user-select: none;
}


nav ul li{
    list-style: none;
    margin-left: clamp(0rem, 2vw, 2rem);
    display: inline-block;
    display: flex;
}

.navbar{
    display: flex;
    flex-wrap: nowrap;
    margin-right:  clamp(0.4rem, 2vw, 2rem);
}

.navbar a{
    display: flex;
    flex-wrap: nowrap;
    font-size: clamp(0.75rem, 2vw, 1.2rem);
    font-weight: 550;
    padding: clamp(0.1rem, 1vw, 0.1rem) clamp(0.1rem, 1vw, 1.2rem);
    transition: all 0.4s ease;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.navbar  a:hover{
    background: white;
    color: black;
    box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
    border-radius: 5px;
}


.navbar  a.active {
  color: black;
}

.title{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-top:15%;
    text-align: center;
    vertical-align: center;
}
.icon-1{
    
    margin-left: 0.37rem;
    font-size: clamp(0.7rem, 2, 1.1rem);
}
.title  h1 {
font-size: 10vh;
font-weight: 750;
text-shadow: 2px 2px black;
transition: ease 0.3s;
user-select: none;
}

.title  h1:hover {
   
    color:transparent;
    -webkit-text-stroke: 2px white;
    text-shadow:none;
}

.title  p {
    user-select: none;
    font-size: 5vh;
}

.button {
    margin-top: 5vh;
    font-size: clamp(1.2rem, 2.5vw, 2rem);
    display: inline-block;
    padding: 0.62rem 1.87rem;
    color: rgb(21, 74, 74);
    background-color: white;
    border-radius: 15px;
    text-decoration: none;
    transition: ease 0.3s;
}

.button:hover {
    transform: scale(1.1);
    color:white;
    background-color: rgb(21, 74, 74);
    box-shadow: 5px 10px 30px rgba( 0, 0, 0, 0.4);
}




/*Service Section*/




.services{
    user-select: none;
    width: 100%;
    height: 100%;
    padding: 3.12rem 0rem;
}

.services  h1 {
    text-align: center;
    margin-bottom:clamp(2rem, 4vw, 3.12rem);
    font-size: clamp(1.4rem, 5vw, 2.2rem);
    font-weight: 700;
}
.services-container {
    padding-left: clamp(0.1rem, 5%, 10%);
    padding-right: clamp(0.1rem, 5%, 10%);
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.service1{
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.service1 img{
    width: clamp(7rem, 18vw, 20rem);
    height: clamp(6rem, 12vw, 13rem); 
    padding-left: clamp(0.1rem, 1vw, 0.62rem);
    padding-bottom: clamp(0.1rem, 1vw, 0.62rem);
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 0.62rem;
}
.service1 p{
    font-family:'Times New Roman', Times, serif;
    padding: clamp(0.1rem, 1vw, 0.62rem);
    font-size: clamp(0.5rem, 1.5vw, 1rem);
    width: clamp(7rem, 25vw, 18.75rem);
    text-align:justify;
    
}

.service1 h3{
    padding-left: clamp(0.1rem, 1vw, 0.62rem);
   font-size: clamp(0.8rem, 2vw, 1.35rem);
}



/*LOCATIONS*/



.location-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.col-content{
    position: relative;
    filter:brightness(95%);
    transition: all 0.3s cubic-bezier(0.445,0.05,0.55,0.95);

}


.col-content  img {
margin-bottom: clamp(1rem, 2.5rem, 2.5rem);
height:clamp(16rem, 31vw, 31rem);
border-radius: 27px;
width:100%;
}


 .location-title  h2 {
    text-align: center;
    font-size: clamp(2rem, 3vw, 2.5rem);
    font-weight: 800;
    padding-bottom: clamp(1rem, 2vw, 1.5rem);
    padding-top: clamp(1rem, 5vw, 4.7rem); 
    line-height: 2;
    user-select: none;
}


.col-content  h5 {
     font-size: clamp(1.2rem, 2vw, 1.6rem); 
    color:white;
    font-weight: 500;
    left: 1.25rem;
    bottom: clamp(5rem, 8vw, 6.6rem); 
    position: absolute;
    cursor: pointer;
}

.col-content  p{
    position: absolute;
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    color: white;
    left: 1.25rem;
    bottom: clamp(4rem, 6vw, 5rem);
    cursor: pointer;

}

.col-content:hover{
    filter: brightness(120%);
    transform: scale(1.07);
    cursor: pointer;
}





/* Packages */

.package-title{
    text-align: center;
}

.package-title h2{
   font-size: clamp(2rem, 3vw, 2.5rem);
    font-weight: 650;
    padding-top: clamp(1.5rem, 6vw, 4.7rem); 
    padding-bottom: clamp(0.5rem, 1vw, 0.7rem);
    line-height: 2;
}

.package-content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.image{
    position: relative;
    transition: all 0.3s cubic-bezier(0.445,0.05,0.55,0.95);
    cursor: pointer;
    filter: brightness(95%);
}

.image img{
    width: 100%;
    height: clamp(16rem, 31vw, 31rem);
    border-radius: 30px;
}

.image h3{
    color: white;
    position: absolute;
    font-size: clamp(1rem, 2.5vw, 1.9rem);
    font-weight: 600;
    text-align: center;
    top: clamp(0.4rem, 1vw, 0.7rem);    
    right: clamp(1rem, 2vw, 1.25rem);
}

.dest-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: clamp(0.5rem, 2vw, 1rem); 
    margin-bottom: clamp(2rem, 6vw, 3.1rem);
}

.location h4{
    font-size: clamp(1.1rem, 2vw, 1.6rem);
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 0.12rem;
    margin-left: 0.3rem;
}

.pac-details li{
    font-size: clamp(0.70rem, 1.5vw, 1.2rem);
    color: #4c4c4c;
    margin-left: 1.2rem;
    margin-bottom: 2px;
    list-style-type: disc;
}

.image:hover{
    filter: brightness(120%);
    transform: scale(1.03);
}



/*SERVICES*/


.container{
   margin-bottom: clamp(3rem, 6vw, 5rem);
}
.text  h2{
    font-size: clamp(1.6rem, 4vw, 2.6rem);
    font-weight: 650;
    margin-top: clamp(1rem, 3vw, 2.5rem);
    margin-bottom: clamp(0.5rem, 2vw, 1rem);
    line-height: 2;
    text-align: center;
    user-select: none;

}

.rowitems{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: clamp(1.4rem, 2vw, 1.6rem);
    align-items: center;
    text-align: center;
    margin-top: clamp(1rem, 2vw, 1.25rem);
    margin-left: clamp(1rem, 2vw, 1.9rem);     
    margin-right: clamp(1rem, 2vw, 1.9rem); 
    margin-bottom: clamp(0.4rem, 1.2vw, 0.6rem);
    user-select: none;
}

.container-box{
     border: 1px solid #d3d3d3;
    border-radius: 5px;
    width: clamp(10rem, 22vw, 22rem);
    padding: clamp(2rem, 5vw, 3.1rem) clamp(0.5rem, 2vw, 1rem);
    transition: all 0.7s ease 0s;
    cursor: pointer;
}

.container-image img{
    height: clamp(4.5rem, 8vw, 6.25rem);   
    width: clamp(4.5rem, 8vw, 6.25rem);    
    padding: clamp(0.2rem, 1.5vw, 0.7rem); 
    margin-bottom: clamp(0.7rem, 2vw, 0.9rem);
}

.container-box h4{
    font-size: clamp(1rem, 2.2vw, 1.25rem); 
    margin-bottom: clamp(0.1rem, 0.5vw, 0.3rem);
    font-weight: 550;
}

.container-box p{
    font-size: clamp(0.8rem, 2vw, 1rem); 
    justify-content: center;
    color: #808080;
}


.container-image:hover{
    transform: scale(1.3);
    transition:0.5s ease;

}



/*FOOTER*/



.footer{

    background-color: rgb(21, 74, 74);
}

.foot{
    padding: clamp(1rem, 3vw, 1.5rem) 0;
    
}

.footer-content{
    padding: clamp(1rem, 3vw, 1.25rem);
    text-align: center;
    
}


.footer-content  h4{
    margin-top: clamp(1.2rem, 4vw, 1.9rem);
    font-size: clamp(1.4rem, 3vw, 1.9rem);
    font-weight: 600;
    color: white;
    margin-bottom: clamp(1.25rem, 4vw, 1.9rem);
    user-select: none;

}


.footer  ul  li {
    margin-bottom: clamp(0.4rem, 2vw, 0.9rem);
}


.footer-content  ul  li  a {
    color: #dddddd;
    font-size: clamp(1rem, 2vw, 1.25rem); 
    transition: ease 0,30s;

}

.footer ul li a:hover{
    transform: translate(6px);
    color: white;
}

.end{
    text-align: center;
    padding-top: clamp(1rem, 6vw, 3.75rem);
    padding-bottom: clamp(0.5rem, 2vw, 0.75rem);
}

.end p{
    font-size: clamp(0.7rem, 1.5vw, 0.95rem);
    color: white;
    letter-spacing: 1px;
    font-weight: 200;
}










/*REGISTRATION FORM*/





.registration {
    background-color:#101010;
padding: 110px 30%;
    height: 100%;
    min-height: 80vh;
}




.register-form{
    color: white;
    font-size: 25px;
}
.register-form h1 {
    text-align: center;
    font-size: 60px;
    color:white;
    margin-bottom: 20px;
}

.register-form  h1  span {
    color:#fc0050;
}


.register-form form input{
    text-align:center;
    padding: 17px;
    font-size: 20px;
    outline: none;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
}

.register-form h4{
    padding-right: 10px;
    font-size: 25px;
    font-weight: 500;
    margin-top: 20px;
    color: #fc0050;
}

.date-time{ 
    display: flex;
    
}
.success {
      display: none;
      color: green;
      margin-top: 10px;
    }
#submitted:target {
      display: block;
      animation: fadeout 3s forwards;
    }

.register-form form .submitbtn{
    margin-left: 100px;
    display: inline-block;
    color: white;
    background-color: #fc0050;
    font-size: 30px;
    font-weight: 600px;
    border: 2px solid transparent;
    border-radius: 60px;
    width: 220px;
    cursor: pointer;
    transition: ease 0.2s;
}

.register-form form .submitbtn:hover{
    border: 2px solid #fc0050;
    background-color: transparent;
    transform: scale(1.1);
}


/* Contact Us */



.contactbody{
    background-color: #101010;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.contact{
    padding: 4rem 0rem;
    height:100%;
}

.contact-form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-form h1{
    font-size: clamp(2.5rem, 6vw, 5rem);
    color: white;
    user-select: none;
    margin-bottom: clamp(0.7rem, 1vw, 1rem);
}

.contact-form h1 span{
    color:#fc0050;
}

.contact-form p{
    flex-wrap:wrap;
    user-select: none;
    padding: clamp(0.5rem, 1vw, 1rem);
    max-width:clamp(20rem, 42vw, 40rem);
    color: white;
    line-height:clamp(1.2rem, 2vw, 2rem);
    font-size:clamp(0.9rem, 2vw, 1.4rem);
}


.contact-form form  {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width:clamp(20rem, 42vw, 40rem);
    padding: clamp(0.5rem, 1vw, 1rem);
    outline: none;
    color: white;
    margin-bottom: clamp(0.5rem, 1vw, 1.5rem);
    border-radius: 10px;
}

.contact-form form input{
    font-size: clamp(0.7rem, 2vw, 1rem);
}

.contact-form form textarea{
    font-size: clamp(0.7rem, 2vw, 1rem);
    resize:vertical;
    max-width:clamp(20rem, 42vw, 40rem);
    margin-bottom: clamp(0.5rem, 1vw, 1rem);
}

.contact-form form .submit-btn{
    display: inline-block;
    background-color: #fc0050;
    font-size: clamp(0.7rem, 2vw, 1.2rem);
    font-weight: 600;
    border: 2px solid transparent;
    border-radius: 40px;
    width: clamp(7rem, 15vw, 15rem);
    cursor: pointer;
    transition: ease 0.30s;

}

.contact-form form .submit-btn:hover{
    border: 2px solid #fc0050;
    color:white;
    background-color: transparent;
    transform: scale(1.1);

}




/*Book Cab Section*/



.cabbooking{
       background-color:rgba(0, 0, 0, 0);
}
.bookcab{
    
    display:flex;
    justify-content: center;
    height: clamp(16rem, 33vw, 32rem);
    margin-bottom: clamp(1rem, 3vw, 4rem);
   

}

.bookcab-content {
    width: clamp(15rem, 40vw, 50rem);
    margin-right: clamp(0rem, 1%, 4rem);
    padding-top: clamp(4.5rem, 10vw, 8.5rem); 
    margin-left: clamp(0.1rem, 3vw, 5rem);
    justify-content: center;
   
}

.img-sec{
    margin-right:clamp(2%, 4%, 4%);
    margin-left: clamp(0.1%, 2%, 5%);
    padding-top:clamp(3rem, 5vw, 5rem);


}

.img-sec img{
    width: clamp(13.5rem, 55vw, 70rem);
    height: clamp(12.5rem, 28vw, 30rem); 
    object-fit: cover;
    border-radius: 2px;
}




.bookcab-content  h1{
    justify-content: center;
    user-select: none;
    text-align: center;
    font-size: clamp(1.1rem, 2.8vw, 3rem);
    color: black;
}

.bookcab-content  form {
    max-width: clamp(10rem, 30vw, 30rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: clamp(0.1rem, 1vw, 1.6rem);
    
}


.bookcab-content  form input{
    width: 100%;
    min-width: fit-content;
    padding:clamp(0.2rem, 1.8vw, 1.1rem);
    border: none;
    outline: none;
    background-color:#dddddd;
    font-size: clamp(0.6rem, 1vw, 1rem);
    margin-bottom:clamp(0.4rem, 1vw, 0.7rem);
    border-radius:clamp(6px, 1vw,12px);
}


.bookcab-content  form button{
    color: white;
    background-color: black;
    font-size:clamp(0.6rem, 2vw, 1.2rem);
    font-weight: 600;
    border: 0.4rem solid transparent;
    border-radius: 40px;
    width:clamp(5rem, 10vw, 10rem);
    cursor: pointer;
    user-select: none;
    text-align: center;
    margin-top:clamp(0.4rem, 1vw, 0.8rem);
    
}

.bookcab-content form button:hover{
    transform: scale(1.05);
    transition: ease 0.4s;
}





/* Ride Section */




.ride {
    width: 100%;
    padding:clamp(0.6rem, 1vw, 0.8rem); ;
}

.ride h1 {
    color: black;
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    margin-left: clamp(1rem, 5vw, 5rem);
}

.ride h2 {
    font-size:  clamp(1.1rem, 2vw, 1.5rem);
    margin-top: clamp(0.4rem, 1vw, 0.6rem);
    margin-left: clamp(0.5rem, 1vw, 0.8rem);
}
.ride p {
    font-size: clamp(0.8rem, 1.1vw, 1rem);
    margin: 0.5rem;
    margin-left:clamp(0.6rem, 1vw, 0.8rem);
   
}


.ride-content {
    display: flex;
    margin: clamp(0.4rem, 1vw, 1.5rem);
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.ride-option {
    background-color: #f4f3f6;
    width: clamp(20rem, 30vw, 25rem);
    height: clamp(4rem, 20vw, 8.75rem);
    display: flex;
    justify-content:space-evenly;
    margin: clamp(0.5rem, 2vw, 1rem);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    box-sizing: border-box;
}
.ride-option-a{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}

.ride-option-b{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ride-option-b img {
   width: clamp(3rem, 6vw, 4.5rem); 
    height: clamp(3rem, 6vw, 4.5rem);
}

.ride-content  a{
    color: black;
    cursor: pointer;
}

.ride-option:hover {
    transform: scale(1.06);
}

.ride-option-a p{
    color:rgba(0, 0, 0, 0.7);
}








/* Make Money Section */






.makemoney {
    margin: clamp(0.5rem, 5vw, 5%);
    display:flex;
    justify-content: space-between;
    justify-content: center;
    height: clamp(18rem, 50vw, 32rem);
}

.makemoney-content {
    padding-right:clamp(2%, 6vw, 7%);
    display: flex;
    flex-direction: column;
    user-select: none;
    justify-content: center;
    width: 50%;
}

.makemoney-content h1 {
    font-size:clamp(1.03rem, 3vw, 3rem);
    color: black;
    margin-bottom:clamp(0.5rem, 1vw, 1.3rem);
}

.makemoney-content p {
    font-size:clamp(0.6rem, 1.5vw, 1.15rem);
    color: black;
    margin-bottom:clamp(0.6rem, 2vw, 1.5rem);
}

.makemoney-content a {
    display: inline-block;
    color: white;
    background-color: black;
    font-size:clamp(0.6rem, 2vw, 1.3rem);
    border: 7px solid transparent;
    border-radius: 40px;
    width:clamp(5rem, 10vw, 12rem);
    cursor: pointer;
    text-align: center;
}

.makemoney-content a:hover {
    transform: scale(1.05);
    transition: ease 0.4s;
    text-decoration: none;
}

.makemoney-image{
    justify-content: center;
    width: 50%;

}

.makemoney-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}




/*About us*/





.about{
    background-color: #191919;
    width: 100%;
    padding: clamp(3rem, 5vw, 4.875rem) 0rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.main img{
    margin-top: clamp(0.3rem, 1vw, 0.6rem);
    width: clamp(20rem, 30vw, 30rem);
    height: clamp(12rem, 31vw, 30rem);
}

.abt-text{
   width: clamp(20rem, 40vw, 31.25rem);
    margin-top: 2%;
    user-select: none;

}

.abt-text h1{
    font-size: clamp(3rem, 5vw, 4.375rem);
    color: white;
    margin-bottom: clamp(0.75rem, 1vw, 1.25rem);
    letter-spacing: 1px;
}

.abt-text h1 span{
    color: #fc0050;
    letter-spacing: 1px;
}

.abt-text p{
    color: white;
    font-size: clamp(1.1rem, 2vw, 1.25rem);
    margin-bottom: clamp(1.5rem, 5vw, 2.8125rem);
    line-height: clamp(1.4rem, 3vw, 1.875rem);
    letter-spacing: 1px;
}




/*Sign in   Tab*/




.popup {

    position: fixed;
    width: 100%;
    height: 100%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popupcontent {
    user-select: none;
    width: 370px;
    background: #fff;
    border-radius: 8px;
    padding: 25px;

}

.close{
    position:absolute;
    cursor: pointer;
    top: 20px;
    right:clamp(1.2rem, 5vw, 3.5rem);
    justify-content: right;
    font-size:clamp(1.5rem, 2vw, 2rem);    
}
.close.active{
    color: red;
}
.tabs{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.tabs button{
    background: none;
    border: none;
    padding-bottom:4%;
    padding-right: 11%;
    padding-left: 11%;
    font-size: 14px;
    color: #666;
    width:auto;
}

.tabs button.active{
    border-bottom: 3px solid #000;
    color:#000;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
}
input:focus {
    outline: solid .5px;
}

.popup-content label{
    font-size: 10px;
}
.password-container {
    position: relative;
    width: 100%;
    max-width:350px;
}

.passowrd-container input{
    width: 100%;
    padding: 5px 40px 5px 40px;
    font-size: 14px;

}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 30%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  user-select: none;
}

#toggle-password:active{
    font-size:16px;
    color:red;
    background-color: none;
}

button.continue{
    width: 100%;
    border: none;
    background-color: #ffd700;
    color: black;
    font-size: 13px;
    padding: 8px;
    border-radius: 5px;
    text-align: center;
}
button.continue:hover {
    background-color: #ffeb3b;
    transition: background-color 0.3s ease;
}

button.continue:active {
  background-color:#d6b738; 
  transform: scale(0.99);   
}

.divider {
    display: flex;
    align-items: center;
    margin: 20px 0;
    color:#888;
}

.divider::before,.divider::after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: #ddd;
}

.divider span{
    color: black;
    font-size: 13px;
}

.google-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.01px solid transparent;
    transition: border-color 0.3s ease;
    width: 100%;
    padding: 5px 0;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    margin-bottom: 15px;
}
.google-btn img {
    width: 15px;
    height: 15px;
    margin-right: 8px;
}

.google-btn:hover {
    border-color:cornflowerblue;
}
.google-btn:active {
    transform: scale(0.99);
    background-color: #e0e0e0;
}

.forgot-password{
    display: flex;
    justify-content: center;
    font-size: 13px;
    color:deepskyblue;
}
.forgot-password:hover {
    text-decoration: underline;
    cursor: pointer;
}