*{padding:0;
margin:0;
box-sizing:border-box;
font-family:'poppins', sans-serif;
text-decoration: none;
list-style:none;
scroll-behavior: smooth;
}

html{
    scroll-behavior: smooth;
}


.back-to-top {
    color : black;
    font-size: 15px;
    display: flex;
    justify-content: center;
    padding:0.5%;
}

.back-to-top:hover {
    color: red;
    padding: 0.5%;
    transition: all 0.3s ease;
}
/* Home page */


.banner{
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}
.banner video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;;
}

.content{
    position: relative;
    z-index: 1;
    width: 100%;
    height:100vh;
    background-image: linear-gradient(rgba(1, 0, 5, 0.3), rgba(4, 1, 17, 0.3));
}


nav{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(21, 74, 74);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 15%);
}

nav .logo{
    width: 60px;
    height:8vh;
    margin:2vh;
    margin-left: 2%;
    user-select: none;
}


nav ul li{
    list-style: none;
    margin-left: 40px;
    display: inline-block;
    display: flex;
}

.navbar{
    display: flex;
    margin-right: 4vh;
}

.navbar a{
    display: flex;
    color: white;
    font-size: 19px;
    font-weight: 550;
    padding: 5px 10px;
    text-decoration: none;
    transition: ease 0,40s;
}


.navbar  a {
  transition: all 0.4s ease;
}


.navbar  a:hover{
    background: white;
    color: black;
    box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
    border-radius: 5px;
}


.navbar  a.active {
  color: black;
}

nav  ul  li  a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 19px;
    ;
}

.title{
    text-decoration: none;
    font-size: 4vh;
    color: rgb(255, 255, 255);
    padding:14px 17px;
    margin-top: 34vh;
    text-align: center;
    vertical-align: center;
}
.icon-1{
    
    margin-left: 6px;
    font-size:17px ;
}
.title  h1 {
font-size: 10vh;
font-weight: 750;
text-shadow: 2px black;
transition: ease 0.3s;
user-select: none;
}

.title  h1:hover {
    color:transparent;
    -webkit-text-stroke: 2px white;
}

.title  p {
    user-select: none;
    font-size: 5vh;
}

.button {
    margin-top: 5vh;
    font-size: 30px;
    display: inline-block;
    padding: 10px 30px;
    color: rgb(21, 74, 74);
    background-color: white;
    border-radius: 15px;
    text-decoration: none;
    transition: ease 0.3s;
}

.button:hover {
    transform: scale(1.1);
    color:white;
    background-color: rgb(21, 74, 74);
    box-shadow: 5px 10px 30px rgba( 0, 0, 0, 0.4);
}



/*LOCATIONS*/



.location-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.col-content{
    position: relative;
    filter:brightness(95%);
    transition: all 0.3s cubic-bezier(0.445,0.05,0.55,0.95);

}


.col-content  img {
margin-bottom: 40px;
height: 500px;
border-radius: 27px;
width:100%;
}


 .location-title  h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 10px;
    padding-top: 75px;
    line-height: 2;user-select: none;
}


.col-content  h5 {
    font-size: 25px;
    color:white;
    font-weight: 500;
    left: 20px;
    bottom: 105px;
    position: absolute;
    cursor: pointer;
}

.col-content  p{
    position: absolute;
    font-size:20px;
    color: white;
    left: 20px;
    bottom: 80px;
    cursor: pointer;

}

.col-content:hover{
    filter: brightness(120%);
    transform: scale(1.07);
    cursor: pointer;
}





/* Packages */

.package-title{
    text-align: center;
}

.package-title h2{
    font-size: 40px;
    font-weight: 650;
    padding-top: 75px;
    padding-bottom: 10px;
    line-height: 2;
}

.package-content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.image{
    position: relative;
    transition: all 0.3s cubic-bezier(0.445,0.05,0.55,0.95);
    cursor: pointer;
    filter: brightness(95%);
}

.image img{
    width: 100%;
    height: 500px;
    border-radius: 30px;
}

.image h3{
    color: white;
    position: absolute;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    top: 10px;
    right: 20px;
}

.dest-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    margin-bottom: 50px;
}

.location h4{
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 2px;
}

.pac-details li{
    font-size: 19px;
    color: #4c4c4c;
    margin-left: 15px;
    margin-bottom: 2px;
    list-style-type: disc;
}

.image:hover{
    filter: brightness(120%);
    transform: scale(1.03);
}

/* Locations */

.location-content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.col-content{
    position: relative;
    filter:brightness(95%);
    transition: all 0.3s cubic-bezier(0.445,0.05,0.55,0.95);

}

.col-content img{
    margin-bottom: 40px;
    height: 500px;
    border-radius: 27px;
    width: 100%;
    
}

.col-content h5{
    position: absolute;
    font-size: 25px;
    color: white;
    font-weight: 500;
    left: 20px;
    bottom: 105px;
    cursor: pointer;
}

.col-content p{
    position: absolute;
    font-size: 20px;
    color: white;
    left: 20px;
    bottom: 80px;
    cursor: pointer;
}

.col-content:hover{
    filter: brightness(120%);
    transform: scale(1.03);
    cursor: pointer;
}






/*SERVICES*/


.container{
    margin-bottom: 80px;
}
.text  h2{
    font-size: 40px;
    font-weight: 650;
    margin-top: 40px;
    margin-bottom: 10px;
    line-height: 2;
    text-align: center;
    user-select: none;

}

.rowitems{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,auto));
    gap: 25px;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-left: 30px ;
    margin-right: 30px;
    margin-bottom:10px ;
    user-select: none;
}

.container-box{
     border: 1px solid #d3d3d3;
    border-radius: 5px;
    padding: 50px 10px;
    transition: all 0.7s ease 0s;
    cursor: pointer;
}

.container-image img{
    height: 100px;
    width: 100px;
    padding: 10px;
    margin-bottom: 15px;
}

.container-box h4{
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 550;
}

.container-box p{
    font-size: 16px;
    color: #808080;
}


.container-image:hover{
    transform: scale(1.3);
    transition:0.5s ease;

}



/*FOOTER*/



.footer{

    background-color: rgb(21, 74, 74);
}

.foot{
    padding: 20px 0;
    
}

.footer-content{
    padding: 20px;
    text-align: center;
    
}


.footer-content  h4{
    margin-top: 30px;
    font-size: 30px;
    font-weight: 600;
    color: white;
    margin-bottom: 30px;
    user-select: none;

}


.footer  ul  li {
    margin-bottom: 15px;
}


.footer-content  ul  li  a {
    color: #dddddd;
    font-size: 20px;
    transition: ease 0,30s;

}

.footer ul li a:hover{
    transform: translate(6px);
    color: white;
}

.end{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 12px;
}

.end p{
    font-size: 15px;
    color: white;
    letter-spacing: 1px;
    font-weight: 200;
}










/*REGISTRATION FORM*/





.registration {
    background-color:#101010;
padding: 110px 30%;
    height: 100%;
    min-height: 80vh;
}




.register-form{
    color: white;
    font-size: 25px;
}
.register-form h1 {
    text-align: center;
    font-size: 60px;
    color:white;
    margin-bottom: 20px;
}

.register-form  h1  span {
    color:#fc0050;
}


.register-form form input{
    text-align:center;
    padding: 17px;
    font-size: 20px;
    outline: none;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
}

.register-form h4{
    padding-right: 10px;
    font-size: 25px;
    font-weight: 500;
    margin-top: 20px;
    color: #fc0050;
}

.date-time{ 
    display: flex;
    
}
.success {
      display: none;
      color: green;
      margin-top: 10px;
    }
    #submitted:target {
      display: block;
      animation: fadeout 3s forwards;
    }

.register-form form .submitbtn{
    margin-left: 100px;
    display: inline-block;
    color: white;
    background-color: #fc0050;
    font-size: 30px;
    font-weight: 600px;
    border: 2px solid transparent;
    border-radius: 60px;
    width: 220px;
    cursor: pointer;
    transition: ease 0.2s;
}

.register-form form .submitbtn:hover{
    border: 2px solid #fc0050;
    background-color: transparent;
    transform: scale(1.1);
}


/* Contact Us */



.contactbody{
    background-color: #101010;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.contact{
    padding: 110px 30%;
    height: 100%;
    min-height: 100vh;
}

.contact-form h1{
    font-size: 80px;
    color: white;
    margin-bottom: 20px;
}

.contact-form h1 span{
    color:#fc0050;
}

.contact-form p{
    color: white;
    line-height: 30px;
    letter-spacing: 1px;
    font-size: 23px;
    margin-bottom: 20px;
}


.contact-form form input,form textarea{
    width: 100%;
    padding: 17px;
    border: none;
    outline: none;
    background-color: #191919;
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
    border-radius: 10px;
}

.contact-form form .submit-btn{
    display: inline-block;
    background-color: #fc0050;
    font-size: 27px;
    font-weight: 600px;
    border: 2px solid transparent;
    border-radius: 40px;
    width: 220px;
    cursor: pointer;
    transition: ease 0.30s;

}

.contact-form form .submit-btn:hover{
    border: 2px solid #fc0050;
    background-color: transparent;
    transform: scale(1.1);

}




/*Book Cab Section*/



.cabbooking{
       background-color:rgba(0, 0, 0, 0);
}
.bookcab{
    
    display: flex;
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
   

}



.img-sec{
    display: flex;
    padding-top: 80px;
    width: 95%;


}

.img-sec img{
    height: auto;
    width: 92%;
}



.bookcab-content {
    padding-top: 9%;
    padding-left: 4%;
    padding-right:6%;
    height: 100%;
    min-height: 100vh;
    width: 50%;
    justify-content: center;
   
}




.bookcab-content  h1{
    text-align: center;
    font-size: 40px;
    color: black;
}

.bookcab-content  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25px;
    margin-bottom: 8px;

}


.bookcab-content  form input{
    width: 100%;
    padding: 17px;
    border: none;
    outline: none;
    background-color:#dddddd;
    font-size: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}


.bookcab-content  form button{
    color: white;
    background-color: black;
    font-size: 18px;
    font-weight: 600px;
    border: 6px solid transparent;
    border-radius: 40px;
    width: 140px;
    cursor: pointer;
    user-select: none;
    text-align: center;
    margin-top:10px ;
    
}

.bookcab-content form button:hover{
    transform: scale(1.05);
    transition: ease 0.4s;
}




/* Ride Section */

.ride {
    width: 100%;
    
}

.ride h1 {
    color: black;
    font-size: 35px;
    margin-left: 6%;
}

.ride h2 {
    margin-top: 10px;
    margin-left: 10px;
}
.ride p {
    margin:10px;
    
}


.ride-content {
    display: flex;
    margin: 1.5%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.ride-option {
    background-color: #f4f3f6;
    width:400px;
    height: 140px;
    display: flex;
    justify-content:space-evenly;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    box-sizing: border-box;
}
.ride-option-a{
    width: 60%;
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
}

.ride-option-b{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ride-option-b img {
    width: 70px;
    height: 70px;
}

.ride-content  a{
    color: black;
    cursor: pointer;
}

.ride-option:hover {
    transform: scale(1.06);
}








/* Make Money Section */





.makemoney {
    margin: 5%;
    display:flex;
    justify-content: space-between;
    justify-content: center;
    height: 500px;
}

.makemoney-content {
    padding: 1%;
    padding-right: 6%;
    display: flex;
    flex-direction: column;
    user-select: none;
    justify-content: center;
    width: 50%;;
}

.makemoney-content h1 {
    font-size: 40px;
    color: black;
    margin-bottom: 20px;
}

.makemoney-content p {
    font-size: 18px;
    color: black;
    margin-bottom: 20px;
}

.makemoney-content a {
    display: inline-block;
    color: white;
    background-color: black;
    font-size: 19px;
    border: 7px solid transparent;
    border-radius: 40px;
    width: 140px;
    cursor: pointer;
    text-align: center;
}

.makemoney-content a:hover {
    transform: scale(1.05);
    transition: ease 0.4s;
    text-decoration: none;
}

.makemoney-image{
    justify-content: center;
    width: 50%;

}

.makemoney-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}




/*About us*/





.about{
    background-color: #191919;
    width: 100%;
    padding: 78px 0px;
    display: flex;
    justify-content: space-evenly;
}

.main img{
    margin-top:20%;
    height: 400px;
    width: 400px;
}

.abt-text{
    width: 500px;
    margin-top: 2%;
    user-select: none;

}

.abt-text h1{
    font-size: 70px;
    color: white;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.abt-text h1 span{
    color: #fc0050;
    letter-spacing: 1px;
}

.abt-text p{
    color: white;
    font-size: 20px;
    margin-bottom: 45px;
    line-height: 30px;
    letter-spacing: 1px;
}




/*Sign in   Tab*/




.popup {

    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba( 0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    user-select: none;
    background: #fff;
    width: 375px;
    border-radius: 8px;
    padding: 25px;

}

.close{
    position:absolute;
    cursor: pointer;
    top: 10px;
    right: 15px;
    left:95%;
    font-size: 25px;    

}

.tabs{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
   
}

.tabs button{
    background: none;
    border: none;
    padding-bottom:4%;
    padding-right: 11%;
    padding-left: 11%;
    font-size: 14px;
    color: #666;
    width:auto;
}

.tabs button.active{
    border-bottom: 3px solid #000;
    color:#000;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
}

.popup-content label{
    font-size: 10px;
}
.password-container {
    position: relative;
    width: 100%;
    max-width:350px;
}

.passowrd-container input{
    width: 100%;
    padding: 5px 40px 5px 40px;
    font-size: 14px;

}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 35%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  user-select: none;
}

.toggle-password:active{
    font-size:16px;
}

button.continue{
    width: 100%;
    border: none;
    background-color: #ffd700;
    color: black;
    font-size: 13px;
    padding: 8px;
    border-radius: 5px;
    text-align: center;
}
button.continue:hover {
    background-color: #ffeb3b;
    transition: background-color 0.3s ease;
}

button.continue:active {
  background-color:#d6b738; 
  transform: scale(0.99);   
}

.divider {
    display: flex;
    align-items: center;
    margin: 18px 0;
    color:#888;
}

.divider::before,.divider::after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: #ddd;
}

.divider span{
    color: black;
    font-size: 13px;
}

.google-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px transparent;
    width: 100%;
    padding: 5px 0;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    margin-bottom: 15px;
}
.google-btn img {
    width: 15px;
    height: 15px;
    margin-right: 8px;
}

.google-btn:hover {
    border:  0.5px solid blue;
}
.google-btn:active {
    transform: scale(0.99);
    background-color: #e0e0e0;
}

.forgot-password{
    display: flex;
    justify-content: center;
    font-size: 13px;
    color:deepskyblue;
}
.forgot-password:hover {
    text-decoration: underline;
    cursor: pointer;
}